.comment-list{
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 1rem;
}

.comment-item{
    color:#3a3f3f;
}

.comment-item .comment-header{
    align-items: center;
    margin-bottom: .4rem;
}

.comment-item .comment-header small i{
    margin-right: .3rem;
    font-size: .9rem;
}

.comment-item .comment-author{
    margin-right: 0.7rem;
    font-weight: 500;
}